D:\Visual Studio Projects\E_commerce\Sito-di-penne\Assets\Xbox.jpg
D:\Visual Studio Projects\E_commerce\Sito-di-penne\Assets\Playstation.webp
D:\Visual Studio Projects\E_commerce\Sito-di-penne\Assets\Nintendo.jpg